name: PR

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Build and package
        shell: pwsh
        run: |
          .\Scripts\ci_build.ps1 -publishDir $(Join-Path $env:GITHUB_WORKSPACE "publish") `
            -artifactsDir $(Join-Path $env:GITHUB_WORKSPACE "artifacts") `
            -version "0.0.1.${{ github.run_number }}" `
            -pack $(${{ github.event_name }} -eq 'push' -and ${{ github.ref }} -eq 'refs/heads/main')

      - name: Upload artifacts
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: PrometheusWindowsHardwareExporter-Artifacts
          path: |
            artifacts/PrometheusWindowsHardwareExporter.msi
            artifacts/PrometheusWindowsHardwareExporter-win-x64.zip